# /
/*.bin
/*.dll
/*.in
/*.la
/*.lo
/*.log
/*.o
/.DS_Store
/.deps
/.libs
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/cckd2ckd
/cckdcdsk
/cckdcomp
/cckddiag
/cckdswap
/cfba2fba
/ckd2cckd
/config.h
/config.h.in
/config.h.in~
/config.status
/configure
/dasdcat
/dasdconv
/dasdcopy
/dasdinit
/dasdisup
/dasdload
/dasdls
/dasdpdsu
/dasdseq
/dmap2hrc
/dyngui
/dyngui.res
/dyninst
/fba2cfba
/hdt1052c
/hdt1403
/hdt2703
/hdt3088
/hdt3270
/hdt3420
/hdt3505
/hdt3525
/hdteq
/hercifc
/herclin
/hercules
/hercules-*.tar.gz
/hercules.def
/hercules.exp
/hetget
/hetinit
/hetmap
/hetupd
/libtool
/makefile
/msvc.AMD64.bin
/msvc.AMD64.map
/msvc.AMD64.obj
/msvc.AMD64.pdb
/msvc.dllmod.bin
/msvc.dllmod.map
/msvc.dllmod.obj
/msvc.dllmod.pdb
/stamp-h
/stamp-h.in
/stamp-h1
/tapecopy
/tapemap
/tapesplt
/vmfplc2
/winbuild

# /SoftFloat/
/SoftFloat.lo
/SoftFloat/.deps
/SoftFloat/.libs
/SoftFloat/Makefile
/SoftFloat/Makefile.in
/SoftFloat/SoftFloat.lo
/SoftFloat/libSoftFloat.la

# /crypto/
/crypto/.deps
/crypto/.libs
/crypto/Makefile
/crypto/Makefile.in
/crypto/dyncrypt.la
/crypto/dyncrypt.lo
/crypto/sha1.lo
/crypto/aes.lo
/crypto/des.lo
/crypto/sha256.lo

# /decNumber/
/decNumber/.deps
/decNumber/.libs
/decNumber/Makefile
/decNumber/Makefile.in
/decNumber/libdecNumber.la
/decNumber/decContext.lo
/decNumber/decimal128.lo
/decNumber/decimal32.lo
/decNumber/decimal64.lo
/decNumber/decNumber.lo
/decNumber/decPacked.lo

# /html/
/html/Makefile.in
/html/Makefile
/html/.DS_Store

# /html/images/
/html/images/.DS_Store
/html/images/Thumbs.db

# /intl/
/intl/Makefile
/intl/.libs
/intl/bindtextdom.lo
/intl/charset.alias
/intl/dcgettext.lo
/intl/dcigettext.lo
/intl/dcngettext.lo
/intl/dgettext.lo
/intl/dngettext.lo
/intl/explodename.lo
/intl/finddomain.lo
/intl/gettext.lo
/intl/intl-compat.lo
/intl/l10nflist.lo
/intl/libintl.h
/intl/libintl.la
/intl/loadmsgcat.lo
/intl/localcharset.lo
/intl/localealias.lo
/intl/localename.lo
/intl/ngettext.lo
/intl/osdep.lo
/intl/plural-exp.lo
/intl/plural.lo
/intl/ref-add.sed
/intl/ref-del.sed
/intl/textdomain.lo

# /m4/
/m4/Makefile
/m4/Makefile.in

# /man/
/man/Makefile
/man/Makefile.in

# /po/
/po/Makefile.in
/po/Makefile
/po/POTFILES
/po/nl.gmo
/po/de.gmo
/po/remove-potcdate.sed
/po/stamp-po

# /util/
/util/Makefile.in
/util/Makefile
